main{
    height: 1500px;
}

.bloque{
    height: 200px;
    width: 300px;
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    display: inline-block;
}



#d_diferente{
    z-index: 2;
    background-color: blue;
    position: fixed;
    top: 100px;
    left: 1000px;
}